@use "./mixins";

#footer {
  background: transparent;
  .footer-inner {
    @include mixins.container(72ch);
    padding-inline: max(
      1rem,
      env(safe-area-inset-left),
      env(safe-area-inset-right)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    border-top: 1px solid var(--border);
  }
  .footer-links {
    display: flex;
    gap: 0.75rem;
  }
  .footer-link {
    color: var(--fg);
  }
}
