.muted {
  color: var(--muted);
}
.small {
  font-size: 0.875rem;
  line-height: 1.2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.relative {
  position: relative;
}
.top-02 {
  top: 0.2rem;
}

.contents {
  display: contents;
}
.inline {
  display: inline;
}

.h-6 {
  height: 1.5rem;
}
.w-6 {
  width: 1.5rem;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.opacity-50 {
  opacity: 0.5;
}
