@use "./mixins";

.webring {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  // background: var(--surface);
  // border: 1px solid var(--border);
  // border-radius: 8px;
  color: var(--fg);
}

.webring a {
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
  @include mixins.focus-ring;
}

.webring-arrow {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 1;
}
.webring-center img {
  display: block;
  width: 30px;
  height: 30px;
}
