body {
  background-color: #0f1116;
  color: #ffffff;
  font-family: sans-serif;
  margin: 20px;
}

#links {
  width: 400px;
  text-align: left;
  font-size: x-large;
  color: white;
  display: flex;
  flex-direction: column;
}

#links a {
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin: 10px 0px;
  border: white 1px solid;
  border-radius: 5px;
  padding: 10px;
}

#links a:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

#header {
  max-width: 1200px;
}

